/* ====================
      TYPOGRAPHY 
   ====================*/

h3.category-title {
  font-size: 3.2rem;
  font-weight: 900;
  color: white;
  margin-bottom: 1rem;
}

/* ====================
      CONTAINERS 
   ====================*/

.categoryitem-container {
  flex: 1;
  height: 70vh;
  position: relative;
}

.category-details-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* ====================
      COMPONENTS 
   ====================*/

.category_button {
  padding: 1em;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  color: rgb(97, 96, 96);
  font-weight: 600;
  border-radius: 9999px;
}

.categoryitem-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ====================
      MOBILE VIEW 
   ====================*/

@media screen and (max-width: 560px) {
  h3.category-title {
    font-size: 2rem;
  }
}
