/* ====================
      TYPOGRAPHY
   ====================*/
.register-title {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1rem;
  text-align: center;
}

.consent-agreement {
  margin: 1rem 0;
  font-size: 0.8rem;
  width: 80%;
  text-align: center;
}

/* ====================
      CONTAINERS
   ====================*/

.register-section {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("../../Assets/background_register.jpg") center / cover;
}

.register-section,
.register-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.register-container {
  width: 40%;
  flex-direction: column;
  padding: 1.5rem;
  background-color: white;
}

.register-form {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  width: 80%;
}

/* ====================
      COMPONENTS
   ====================*/

.register-form > input {
  flex: 1;
  min-width: 40%;
  padding: 1em;
}

button.register-button {
  padding: 1em;
  cursor: pointer;
  border: none;
  background-color: teal;
  min-width: 30%;
  color: white;
  font-size: 1.1rem;
}

/* ====================
      MOBILE VIEW 
   ====================*/

@media screen and (max-width: 560px) {
  .register-container {
    width: 70vw;
  }
}
